* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100vw;
  background-image: url("./Images/MSWall2.jpeg");
  background-size: cover;
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: center;
  main {
    .game {
      width: 560px;
      background-color: rgba(0, 0, 0, 0.6);
      border-radius: 20px;
      canvas {
        border-radius: 20px;
      }
    }
  }
}
